* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
}

header {
  text-align: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  flex-wrap: wrap;
  background-color: rgb(245, 247, 247);
}

.item-flex {
  width: 50%;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(40, 57, 102);
  padding: 10px 0;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 30px;
}

.stylebt {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: rgb(40, 57, 102);
  transition: transform 0.1s;
}

.stylebt:hover {
  cursor: pointer;
  transform: scale(1.1);
}

i:hover {
  cursor: pointer;
}

li {

}
