<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>To do List</title>
  </head>
  <body>
    <div id="root">
      <header class="top">
        <img src="img/todo.jpg" alt="">
      </header>
      <div class="container">
        <!-- blocco input -->
        <div>
          <input v-model="message" placeholder="thing to do" v-on:keyup.enter="toDo">
          <button type="button" @click="toDo" class="stylebt"> Add </button>
        </div>
      </div>
      <!-- blocco lista -->
      <div class="container">
        <div class="item-flex">
          <ul>
            <li v-if="free" class="stylep"> Oggi non hai niente da fare &#128526; </li>
            <li v-for="(element, index) in list" class="container-flex"> <span>{{list[index]}}</span>
              <i :class="icon" @click="hide(index)"></i>
            </li>
          </ul>
        </div>
      </div>
      <!-- fine blocco Vue -->
    </div>

    <!-- javascript -->
    <script src="js/script.js"></script>
  </body>
</html>
